language: python

cache:
  directories:
    - "~/.platformio"

install:
  - pip install -U platformio

env:
  - BOARD=uno
  - BOARD=mzeropro
  - BOARD=zero
  - BOARD=due

script:
  - make ci

before_deploy:
  - export RELEASE_VERSION=$TRAVIS_TAG
  - export RELEASE_ZIP=Helium-$RELEASE_VERSION.zip
  - export RELEASE_DIR=$TRAVIS_BUILD_DIR
  - make release

after_deploy:
  - make gh-pages

deploy:
  - provider: releases
    skip_cleanup: true
    overwrite: true
    api_key:
      secure: eFpwmOK/9fHlid9c1qaSJQtuIn0OgjB+LsWHvQVgQwbR3NdtL8D0vw9DrBN83QykHcZwdAsyAko0Soa4BNkzC+x9iWsuMoOOiB/t/T8g3J6+zKxs/hVhI+My/BHlpcQ0FFLBIZ5I7DO0wwVflcmr82RzHVGZh5KAbr+RQ90Kpp855MTu/SwUfhCWov9g61Dcjs4ewbGRpUIXGfczB+ZXTkfx7sapUS4d3YQcf9UMMVV0wN55BlzXK9zw5yEeRGviJTctD7un2LPVU6p+FfxKWF8xZls8CK/515gdmeWDNvbBM1xqAz0DtOX3cJjrCVs1AanVq+8HQQKRd+E/ZrHrq0OLcGAZNiflEwbQIEUuj7T9CZgMUSamDZJaCes9RZ1hUZztmvUYHLYnS+xLvY6z3/dA6lPXeOdnO36XSXyL+Hm4WOQLyaMHjuR1ryo06+zBYfifwglrUI0UpQ+/xkF7oRLOOnQ6uzYjiAv6M2PRsvZKT3JxEmwIEp6OX8gEWRRp1OMg6LduYJThql9FoiOFrREQqKA/2XslrbhsoezeMw6MakaQ8g2wV++GzmJK4tyVI3w+0mgjETXQj2nPxk0Ri/H+69DoKfXtW4ZI+SAPZeP5IdqZt3f/rDGcqOjxl82VAzDqUv0rzMSMtO6v02FriXkOTREUDSnspbIhszaR6Qg=
    file: "${RELEASE_ZIP}"
    on:
      repo: helium/helium-arduino
      tags: true
      condition: $BOARD = uno
