language: python

cache:
  directories:
    - "~/.platformio"

install:
  - pip install -U platformio

env:
  - BOARD=uno
  - BOARD=mzeropro
  - BOARD=zero

script:
  - set -eo pipefail;
    for e in examples/*; do
      platformio ci --board=$BOARD --lib=src $e/*;
    done
